* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --color-bg: #f5f7fa;        
  --color-cardbg: #ffffff;
  --color-text: #2c3e50;
  --color-sub: #3498db;
}
body {
    background-color: var(--color-bg);
    font-family: 'Roboto', sans-serif;
    padding: 80px 80px; 
    /* display: flex; */
}
header h1 {
    display: flex;
    justify-content: center;
    /* background-color: var(--color-sub); */
      background-color: #eaeaed;
    border-radius: 10px solid #333;
    box-shadow: 0 4px 8px rgba(230, 5, 5, 0.1);
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

#cards {
     display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
    text-align: center;
   object-fit: fill;
}


@media (min-width: 1000px) {
    #cards {
       
        grid-template-columns: repeat(3, 1fr);
    } 
}

section {
   
    /* display: flex; */
    background-color: #eaeaed;
    border-radius: 10px solid #333;
    box-shadow: 0 4px 8px rgba(230, 5, 5, 0.1);
    align-items: center;
    padding: 20px;
}

img {
     transition: transform 0.3s;
    cursor: pointer;
    width: 300px;
    /* max-width: 90%; */
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.5); 
    margin-top: 15px;
    margin-bottom: 20px;
}
img:hover {
    transform: scale(1.05);
}
h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    text-align: center;
    color: black;
    padding-top: 5px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-text);
    height: 50px;
    align-items: center;
    /* text-align: center; */
}