
:root {
    --primary: #0f172a;   
    --accent: #FFD700;    
    --white: #ffffff;
    --text: #333333;
    --bg-header: #f8f9fa; 
}

body {
    overflow-x: hidden;
    margin: 10px 10px;
}
header {
    background-color: var(--primary); 
    color: var(--white);
    padding: 15px 5%; 
    position: relative;
    overflow: hidden;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    justify-content: space-between;
}
.logo span {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
    padding-bottom: 5px;
}

nav a:hover {
    color: var(--accent); 
    border-bottom: 2px solid var(--accent);
}


nav a.active {
    color: var(--accent);
    font-weight: bold;
}


#hamburgerBtn {
    display: none;
    background: none;
    border: none;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
   
}


@media (max-width: 768px) {
    
  
    #hamburgerBtn {
        display: block;
    }

   
    nav ul {
        display: none;
        flex-direction: row;
      
        left: 0;
        width: 100%;
        background-color: var(--primary);
        text-align: center;
        padding: 20px 0;
       
    }

   
    nav ul.open {
        display: flex;
    }

    nav li {
        margin: 15px 0;
    }
}

.hero-container {
    /* box-shadow: 0 7px 10px rgba(0,0,0,0.1); */
    border: none;
    border-radius: 8px;
    margin-left: 85px;
    margin-top: 15px;
    position: relative; 
    width: 990px;
    align-items: center;
    height: auto;
    flex: 1;
    /* overflow: hidden;  */
}


.hero-img {
    border-radius: 8px;
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    display: block; 
    filter: brightness(0.7);
    box-shadow: 0 7px 10px rgba(0,0,0,0.1); 
}


.hero-msg {
    position: absolute; 
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    
    text-align: center;
    color: white;
    width: 80%;        
    max-width: 700px;
    

    background-color: rgba(0, 0, 0, 0.5); 
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(47, 42, 42, 0.3);
}

.hero-msg h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.8);
    color: #FFD700; 
}

.hero-msg p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.5;
}


.hero-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.btn {
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s;
}

.primary {
    background-color: #FFD700; 
    color: #0f172a; 
}

.secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.btn:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .hero-img {
        height: 400px; 
    }
    .hero-msg h1 {
        font-size: 1.8rem;
    }
}

.menu-btns {
    text-align: center;
    margin: 20px 0;
    
}
.menu-btns button {
    border: none;
    border-radius: 2px;
    box-shadow: 0 10px 10px rgba(82, 64, 64, 0.1);
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background: white;
    /* border: 1px solid #333; */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
.menu-btns button:hover{
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(197, 94, 94, 0.1);
}


#members-container {
    display: grid;
    gap: 20px;
    padding: 20px;
}


.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-view section {
    transition: transform 0.3s;
    background-color: var(--primary); 
    color: var(--white);
    /* background-color: white;
    border: 1px solid #ddd; */
    border-radius: 8px;
    padding: 20px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(231, 213, 213, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-view section:hover {
      transform: scale(1.05);
}

.grid-view section h3 {
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
.grid-view section a{
    color: #eee;
}

.grid-view img {
    height: 100px; 
    width: auto;
    margin-bottom: 10px;
}


.list-view {
    grid-template-columns: 1fr; 
}

.list-view section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #eee;
    text-align: left;
}


.list-view section:nth-child(even) {
    background-color: #f4f4f4;
}


.list-view img {
    display: none;
}


@media (max-width: 600px) {
    .list-view section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


footer {
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}


.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*  */
    margin-top: 20px;
}
.btn-bottom {
    /* background-color: var(--primary); */
    margin-bottom: 20px;
    /* color: #f8f9fa; */
    color: #FFD700;
    transition: transform 0.3s;
    box-shadow: 5px  8px 9px var(--accent);
}
.btn-bottom:hover {
    transform: scale(1.05);
    font-size: 24px;
  
}





section { 
    background: #fff;
     margin-bottom: 2rem; 
     padding: 1.5rem; 
     border-radius: 8px; 
     box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
} 
section h2 { 
    color: #004d40; 
    margin-bottom: 0.5rem; 
}