

@media only screen and (min-width: 60rem) { 
  
    #hamburgerBtn {
        display: none;
    }

  
    nav ul {
        display: flex;
        background-color: #222;
        padding-left: 20px;
    }

    nav ul li a {
        border: none;
        padding: 1rem 1.5rem;
    }

    
    .main-section {
        flex-direction: row;
    }

    .container-About {
        flex: 2;
    }

    .profile {
        flex: 1;
    }
}

